<h1>Добавление нового сотрудника</h1>

  <div class="form-group">
    <label>Имя</label>
    <input type="text" [(ngModel)]="employee.name" class="form-control" #name="ngModel" required />
    <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
      Не указано имя сотрудника
    </div>
  </div>
  <div class="form-group">
    <label>Позиция</label>
    <select class="form-control" name="position" [(ngModel)]="employee.position" #position="ngModel">
      <option *ngFor="let pos of positions" [value]="pos">
        {{pos}}
      </option>
    </select>
    <div [hidden]="position.valid || position.untouched" class="alert alert-danger">
      Не указана позиция сотрудника
    </div>
  </div>
  <div>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
    <a routerLink="/employee" class="btn btn-warning">Отмена</a>
  </div>

