<h1>Список сотрудников</h1>
<a routerLink="/employee/create" class="btn btn-success">Добавить сотрудника</a>
<table class="table table-striped">
  <thead>
    <tr>
      <td>ID работника</td>
      <td>Имя</td>
      <td>Позиция</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of employees">
      <ng-template [ngIf]="employee?.id != p.id" [ngIfElse]="edit">
        <td>{{p?.id}}</td>
        <td>{{p?.name}}</td>
        <td>{{p?.position}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="editEmployee(p)">Изменить</button>
          <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
        </td>
        <td>
          <a [routerLink]="['/vocation/create', p.id]" class="btn btn-sm btn-primary">Оформить отпуск</a>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
  <td>
  </td>
  <td>
    <input type="text" [(ngModel)]="employee.name" #name="ngModel" class="form-control" required />
    <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
      Не указано имя сотрудника
    </div>
  </td>
  <td>
    <select type="text" class="form-control" [(ngModel)]="employee.position" #position="ngModel" required>
      <option *ngFor="let pos of positions" [value]="pos">
        {{pos}}
      </option>
    </select>
    <div [hidden]="position.valid || position.untouched" class="alert alert-danger">
      Не указана позиция сотрудника
    </div>
  </td>
  <td>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>

</ng-template>

