<h1>Ошибка оформления отпуска</h1>
<p>Возможные причины ошибки:</p>
<ul>
  <li>Отпуска разрешено оформлять, начиная от нынешней даты</li>
  <li>Неправильный формат дат начала и конца отпуска </li>
  <li>Превышено количество отпускных дней в году для одного сотрудника</li>
  <li>Ограничения по одновременному оформлению отпусков для разных позиций</li>
</ul>
<p>В отпуске не могут находиться одновременно:</p>
<ul>
  <li>4 QA</li>
  <li>1 Dev и 1 TeamLead</li>
  <li>3 Dev</li>
  <li>2 TeamLead </li>
  <li>1 Dev и 2 QA</li>
</ul>

<td>
  <a [routerLink]="['/employee']" class="btn btn-sm btn-primary">Вернуться к списку сотрудников</a>
</td>

